<h3>Editing Discussion</h3>
<%= render "form", discussion: @discussion %>
<br>

<div class="back-link">
  <%= link_to "<i class='fas fa-arrow-left'></i> Back to discussion".html_safe, discussion_path, class: 'btn btn-secondary' %>
</div>