body {
  background-color: #EAE7DC;
}

.top-bar {
  width: calc(100% - 20px);
  background-color: #545754;
  color: whitesmoke;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 10px;
}

.top-bar {
  font-size: 16px;
}

.top-bar .app-info {
  font-size: 16px;
}

.container-area {
  display: flex;
  margin: 10px;
  min-height: 100vh;
}

.sidebar-left {
  width: 15%;
  background-color: #efffe0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.sidebar-left .nav {
  list-style: none;
  padding: 0;
}

.sidebar-left .nav li {
  margin-bottom: 15px;
}

.sidebar-left .nav li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.sidebar-left .nav li a:hover {
  color: whitesmoke;
}

.content-center {
  width: 85%;
  padding: 20px;
  border-radius: 4px;
  background-color: #e5f1f7;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.alert-container {
  margin: 10px 10px 0px 10px;
}

.alert {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-align: center;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.alert-success {
  background-color: #28a745;
  border-left: 5px solid #218838;
}

.alert-danger {
  background-color: #dc3545;
  border-left: 5px solid #c82333;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.login-form {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

h2, h4 {
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
  font-size: 1.8em;
}

.field {
  margin-bottom: 15px;
}

.field input[type="email"],
.field input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1em;
  box-sizing: border-box;
}

.field input[type="email"]:focus,
.field input[type="password"]:focus {
  outline: none;
  border-color: #32a6d5;
  box-shadow: 0 0 5px rgba(50, 166, 213, 0.5);
}

.field input[type="checkbox"] {
  margin-right: 5px;
}

.field label[for="remember_me"] {
  display: inline-block;
  color: #777777;
  font-size: 0.9em;
}

.actions {
  text-align: center;
}

.actions input[type="submit"] {
  background-color: #32a6d5;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.actions input[type="submit"]:hover {
  background-color: #2890b3;
}

.auth-links {
  text-align: center;
  margin-top: 20px;
}

.auth-links a {
  background-color: #5bc23e;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  margin: 10px 0;
}

.auth-links a:hover {
  background-color: #57b23e;
}

.auth-links button {
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #32a6d5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.auth-links button:hover {
  background-color: #2890b3;
}

@media (max-width: 768px) {
  .auth-links a, .auth-links button {
    font-size: 0.9em;
    margin: 8px 0;
  }
}

.side-link {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-link li {
  margin-bottom: 10px;
}

.side-link li a {
  display: block;
  padding: 10px 20px;
  background-color: #e6c3f8;
  text-align: left;
  color: #ECF0F1;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.side-link li a:hover {
  background-color: #3c3d3d;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.side-link li a.active {
  background-color: #2d2c2c;
  color: #ffffff;
}

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 28px;
  padding: 20px 16px 20px 20px;
}

.user-card-link {
  text-decoration: none;
  width: calc(35% - 40px);
}

.user-card {
  background: linear-gradient(135deg, #ececec 0%, #ffffff 100%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  overflow: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.user-card::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.user-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #e6fde6 0%, #fdf6eb 100%);
}

.user-name {
  font-size: 1.5em;
  color: #484545;
}

.user-detail {
  display: grid;
  align-items: center;
  font-size: 1.1em;
  margin: 5px 0;
  grid-template-columns: 30px 1fr;
}

@media (max-width: 768px) {
  .user-card-link {
    width: calc(50% - 40px);
  }
}

@media (max-width: 480px) {
  .user-card-link {
    width: 100%;
  }
}

.sign-up-form {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sign-up-form .field {
  margin-bottom: 0;
}

.sign-up-form .actions {
  margin-top: 30px;
}

.field {
  margin-bottom: 15px;
}

.field label {
  font-weight: bold;
  color: #555555;
  display: block;
  margin-bottom: -20px;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="password"],
.field input[type="number"],
.field textarea,
.field select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1em;
  box-sizing: border-box;
}

.field input[type="text"]:focus,
.field input[type="email"]:focus,
.field input[type="password"]:focus,
.field input[type="number"]:focus,
.field textarea:focus,
.field select:focus {
  outline: none;
  border-color: #32a6d5;
  box-shadow: 0 0 5px rgba(50, 166, 213, 0.5);
}

.field .date-select {
  display: flex;
  gap: 10px;
}

.field .date-select select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 1em;
  box-sizing: border-box;
}

.field .date-select select:focus {
  outline: none;
  border-color: #32a6d5;
  box-shadow: 0 0 5px rgba(50, 166, 213, 0.5);
}

.cancel-account-section {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

.cancel-account-section div {
  font-size: 1em;
  color: #555555;
}

.cancel-account-section button {
  background-color: #fd282f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  text-decoration: none;
}

.cancel-account-section button:hover {
  background-color: #fa1f1f;
}

.user-info, .app-info {
  display: flex;
  align-items: center;
}

.user-info span {
  font-size: 1.2em;
  margin-right: 15px;
  font-weight: bold;
}

.user-info a.button, .user-info .btn {
  background-color: #e7e8e7;
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-right: 10px;
}

.user-info a.button:hover, .user-info .btn:hover {
  background-color: #d8d9d8;
  box-shadow: 0 0 5px rgba(52, 51, 51, 0.5);
}

.app-info span {
  font-size: 1.1em;
  background-color: #e7e8e7;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info, .app-info {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

.user-details {
  background-color: #f9f9f9;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 20px auto;
  width: 100%;
  border-left: 4px solid #545754;
  background-image: linear-gradient(to right, #f7f7f7, #ffffff);
}

.user-details h4 {
  color: black;
  font-size: 1.8em;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid #545754;
}

.user-details p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .user-details {
    padding: 15px 20px;
  }

  .user-details h4 {
    font-size: 1.6em;
  }

  .user-details p {
    font-size: 1em;
  }

  .user-details p i {
    font-size: 1.1em;
  }
}

.detail-item {
  display: grid;
  grid-template-columns: 18px 150px 1fr; /* Set fixed widths for icons and labels, and flexible width for details */
  align-items: center;
}

.user-details strong {
  font-size: 1em;
  margin: 10px 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.user-details strong {
  margin-right: 10px;
  font-weight: 600;
  color: #555;
}

.detail-item i {
  color: #545754;
  margin-right: 10px;
  font-size: 1.2em;
  text-align: center;
}

.detail-item strong {
  color: #100f0f;
  margin-right: 10px;
  font-weight: bold;
}

.detail-item span {
  color: #333333;
  font-size: 1.1em;
}

@media (max-width: 768px) {
  .user-details {
    padding: 15px 20px;
  }

  .user-details h4 {
    font-size: 1.6em;
  }

  .detail-item {
    grid-template-columns: 25px 100px 1fr;
    font-size: 0.9em;
  }
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a,
.pagination span {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #32a6d5;
  color: #32a6d5;
  text-decoration: none;
  transition: all 0.3s ease;
}

.pagination a:hover,
.pagination .active span {
  background-color: #32a6d5;
  color: white;
}

.pagination .disabled span {
  color: #cccccc;
  border-color: #cccccc;
  cursor: not-allowed;
}

.pagination-info {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  color: #555555;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left: 4px;
}

#error_explanation {
  background-color: #f8d7da;
  color: black;
  border: 1px solid #f5c6cb;
  padding: 15px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#error_explanation h2 {
  color: black;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

#error_explanation ul {
  padding-left: 20px;
}

#error_explanation ul li {
  list-style-type: disc;
  margin-bottom: 5px;
}

.search-form-container {
  background-color: #efffe0;
  margin: 0px 20px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  max-height: 30px;
  overflow-y: auto !important;
  overflow-x: auto !important;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.select2-container--default .select2-selection--multiple {
  max-height: 15px;
}

.select2-container--default .select2-results > .select2-results__options {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.mb-3 {
  margin-bottom: 0px !important;
}