.user-link {
  color: #2d65a1;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 2px;
  transition: color 0.3s ease, padding-bottom 0.3s ease;
}

.user-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #306db0;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.user-link:hover {
  color: #0056b3;
  padding-bottom: 4px;
}

.user-link:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.nav-actions {
  padding-top: 15px;
}

.task-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.task-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group {
  padding-bottom: 10px;
}

.star-rating {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: left;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
}

.star-rating .star {
  color: #ccc;
  font-size: 24px;
  cursor: pointer;
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star,
.star-rating input[type="radio"]:checked ~ .star {
  color: #FFD700;
}

.hidden-radio {
  display: none;
}

.user-card p i {
  margin-right: 8px;
  color: #3483d7;
}

@media (max-width: 768px) {
  .tasks-container {
    grid-template-columns: 1fr;
  }
}