.tasks-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.task-section {
  background-color: #f3f0f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.task-card {
  background: linear-gradient(135deg, #dbdcdb 0%, #e0d9d6 100%);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  overflow: hidden;
}

.task-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #d4d7d4 0%, #cec2bd 100%);
}

.task-card h3 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333333;
}

.task-card p {
  margin: 0;
  font-size: 14px;
  //color: #555555;
}

@media (max-width: 768px) {
  .tasks-container {
    grid-template-columns: 1fr;
  }
}

.task-card-link {
  text-decoration: none;
}

.task-section h5{
  text-align: center;
}