<div class="side-link">
  <li><%= link_to 'Available Users', users_path, class: 'side-link-item' %></li>
  <li><%= link_to 'Tasks Created', created_tasks_path, class: 'side-link-item' %></li>
  <li><%= link_to 'Tasks Assigned', assigned_tasks_path, class: 'side-link-item' %></li>
</div>
